fastapi
uvicorn[standard]
sqlalchemy
python-dotenv
passlib[bcrypt]
bcrypt
pydantic-settings
pydantic[email]
python-jose[cryptography]
python-multipart
scikit-learn
torch
torchvision
transformers
pytesseract
Pillow
numpy
pandas
matplotlib
tqdm
pdf2image
